appdirs==1.4.4
backcall==0.2.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cryptography==3.2.1
decorator==4.4.2
distlib==0.3.1
Django==2.2.1
django-filer==2.0.2
django-js-asset==1.2.2
django-mptt==0.11.0
django-polymorphic==3.0.0
easy-thumbnails==2.7.1
filelock==3.0.12
gevent==20.9.0
greenlet==0.4.17
gunicorn==20.0.4
idna==2.10
importlib-metadata==3.1.0
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.17.1
mysqlclient==1.4.2
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==3.4.1
prompt-toolkit==3.0.5
psutil==5.7.3
ptyprocess==0.6.0
pycparser==2.20
pycurl==7.43.0.6
Pygments==2.6.1
pylibmc==1.6.1
PyMySQL==0.10.1
python-memcached==1.59
pytz==2020.4
requests==2.24.0
six==1.15.0
South==1.0.2
sqlparse==0.4.1
traitlets==4.3.3
Unidecode==1.1.1
urllib3==1.25.9
virtualenv==20.2.1
wcwidth==0.2.5
zipp==3.4.0
zope.event==4.5.0
zope.interface==5.2.0
